pycodestyle>=2.3.1
requests==2.13.0
six==1.10.0
unittest-xml-reporting==2.1.0
xmlrunner==1.7.7
pylint>=1.8.2
pyflakes>=1.6.0
git-pylint-commit-hook>=2.2.2
coverage==4.5.1
slackclient==1.2.1
websocket-client==0.47.0
